@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PerfilViewModel
@{
}



<style>
    /* From Uiverse.io by Yaya12085 */
    .form {
        max-width: 320px;
        width: 100%;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0px 0px 0px 4px rgba(52, 52, 53, 0.185);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .title {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
        color: #1a202c;
    }

    .label {
        color: rgb(0, 0, 0);
        margin-bottom: 4px;
    }

    .input {
        padding: 10px;
        margin-bottom: 20px;
        width: 100%;
        font-size: 1rem;
        color: #4a5568;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: all 0.2s ease-in-out;
    }

        .input:focus {
            background-color: #fff;
            box-shadow: 0 0 0 2px #cbd5e0;
        }

        .input:valid {
            border: 1px solid green;
        }

        .input:invalid {
            border: 1px solid rgba(14, 14, 14, 0.205);
        }

    .submit {
        background-color: #1a202c;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .profileImage {
        background: linear-gradient(to right,rgb(54, 54, 54),rgb(32, 32, 32));
        margin-top: 20px;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
    }
</style>

<section class="d-flex justify-content-center">
    <form asp-action="Perfil" method="post" enctype="multipart/form-data" class="form">
        @if(ViewBag.Mensaje is not null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.Mensaje
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <span class="title">Mi perfil</span>
        <div class="d-flex justify-content-center mb-3">
            <div class="profileImage">
                <img class="img-fluid" id="profileImage" src="@Model.ImagenUrlPerfil" alt="Alternate Text" />
            </div>
        </div>
        <input class="form-control mb-2" type="file" asp-for="ImagenFilePerfil" name="ImagenFilePerfil" accept="image/png,image/webp" onchange="previewImage(this)" />
        <label asp-for="Nombre" class="label"></label>
        <input asp-for="Nombre" type="text" name="Nombre" class="input">
        <span asp-validation-for="Nombre" class="text-danger"></span>
        <label asp-for="Apellido" class="label"></label>
        <input asp-for="Apellido" type="text" name="Apellido" class="input">
        <span asp-validation-for="Apellido" class="text-danger"></span>
        <label asp-for="Email" class="label">Correo electrónico</label>
        <input asp-for="Email" type="email" name="Email" class="input">
        <span asp-validation-for="Email" class="text-danger"></span>
        <button type="submit" class="submit">Actualizar</button>
    </form>
</section>
<script>
    function previewImage(input) {
        if(input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById("profileImage").src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        };
    }
</script>